@charset "utf-8";


/* -----------------------
  全般設定
----------------------- */
body {
  color: #000000;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans" Meiryo, 'sans-serif';
  margin: 0 auto;
}

a:hover {
  opacity: 0.6;
}

/* -----------------------
  ヘッダー
----------------------- */

header h1 {
  padding-left: 10px;
}

header .sub-nav ul {
  width: auto;
  margin-top: -100px;
  background-image: url(../images/sub-nav-backcolor.jpg);
  background-repeat: repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sub-nav a {
  color: #ffffff;
  padding: 1px 5px;
  margin-right: 10px;
  border: 1px solid #ffffff;
}

.sub-nav img {
  padding: 10px;
  margin-right: 60px;
}

.gnavi ul {
  width: auto;
  background-image: url(../images/AdobeStock_304347937.jpg);
  background-repeat: repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.gnavi a {
  letter-spacing: 3px;
  font-size: 20px;
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.gnavi a::before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 20px);
  width: 40px;
  height: 1px;
  content: '';
  border-radius: 3px;
  background: #000;
}

.gnavi a::after {
  position: absolute;
  bottom: 15px;
  left: calc(50% - 20px);
  width: 40px;
  height: 1px;
  content: '';
  border-radius: 3px;
  background: #000;
}

/* -----------------------
  メイン
----------------------- */

.important-title {
  display: flex;
}

.important-title h2 {
  text-align: right;
  color: #ffffff;
  width: 600px;
  height: 80px;
  padding: 35px;
  background-color: #56A68F;
}

.important-area {
  border-top: 2px solid #81EFCF;
  border-bottom: 2px solid #81EFCF;
}

.mainvisual {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.logo img {
  position: absolute;
  margin: 200px -300px;
}

.title {
  position: relative;
}

.title::before {
  position: absolute;
  bottom: -20px;
  left: calc(48% - 10px);
  width: 80px;
  height: 3px;
  content: '';
  border-radius: 3px;
  background: #000;

}

.main-conteiner h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 90px;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 67px;
}

.list-item1,
.list-item2,
.list-item3,
.list-item4,
.list-item5,
.list-item6 {
  border-right: 3px dotted #000000;
}

.frame003 ul {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.container-list {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.container-list h3 {
  padding-top: 30px;
  height: 96px;
  font-size: 35px;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.container-list ul {
  width: 292px;
  margin-bottom: 40px;
}

.container-list ul li {
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 2px;
}

.image-in {
  height: 624px;
  background-image: url(../images/AdobeStock_440719434.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* -----------------------
  フッター
----------------------- */

.text p {
  padding-top: 111px;
  margin-bottom: 80px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
}

.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 873px;
  margin: 0 auto;
}

.icon-list img {
  margin-left: -40px;
  width: 220px;
}

.main-nav {
  height: 432px;
  background-image: url(../images/AdobeStock_304347937.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-nav-wrapper {
  margin: 0 auto;
  width: 1300px;
}

address {
  padding: 92px 0 0 52px;
  margin-bottom: 58px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  padding-right: 10px;
  width: 50px;
}

address .syurihigasi {
  padding-top: 5px;
  font-size: 50px;
}

.footer-logo :nth-child(3) {
  line-height: 1.5;
  padding-left: 52px;
}

.footer-logo span {
  font-size: 20px;
}

.nav-box {
  display: flex;
  margin-bottom: 25px;
}

.nav-box h3 {
  padding-bottom: 11px;
  margin-bottom: 11px;
  border-bottom: 5px solid #000000;
}

.nav-box-list {
  display: flex;
  padding-left: 10px;
}

.box-righline {
  margin-right: 20px;
  border-right: 1px solid #000000;
}

.box-righline a {
  padding-right: 38px;
}

.nav-box-list ul li {
  margin-bottom: 15px;
}

.nav-box-list:last-child {
  padding-right: 50px;
}

.gakkousiryou,
.category,
.link {
  padding-left: 52px;
}

.copy {
  text-align: center;
}

/* -----------------------
  学校閲覧
  学校生活(共有)
----------------------- */
.guide-chain {
  margin-bottom: 45px;
  padding: 43px 0 0 50px;
  display: flex;
}

.guide-chain p {
  padding: 10px 0 0 25px;
}

.outer {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 38px;
}

.outer-side-image-in,
.outer-main-image-in p {
  padding: 51px 0 51px 27px;
  font-size: 25px;
  color: #ffffff;
  height: 140px;
  background-image: url(../images/outer-side-bg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 23px;
}

.outer-side-inner li {
  width: 260px;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
}

.outer-side-inner li a {
  padding: 5px 10px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outer-main-image-in p {
  background-image: url(../images/outer-main-bg.jpg);
}

.outer-main-list {
  width: 900px;
}

.outer-main-list a {
  padding: 15px 14px 13px 15px;
  display: flex;
  justify-content: space-between;
  width: 430px;
  background-color: #F5D6CB;
  margin-bottom: 20px;
}

.outer-main-list li {
  margin-bottom: 65px;
}

.outer-main-list ul {
  display: flex;
  justify-content: space-between;
}

/* -----------------------
  学校生活
----------------------- */

.heading-inner h2 {
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
}

.news {
  margin-bottom: 130px;
}

.news li {
  border-bottom: 1px solid #000000;
  font-size: 18px;
  padding: 0 0 13px 13px;
  margin-bottom: 18px;
  letter-spacing: 2px;
}

.news a {
  padding-left: 111px;
  text-decoration: underline;
}